<FlexBoxLayout flexDirection="column" justifyContent="space-between" style="height: 100%; padding-bottom: 0%; margin-bottom: 0%;">
  <Label style="font-family: 'Montserrat', 'Montserrat-Bold'; font-weight: 700; font-size: 70px; color: #734b34ff; text-align: center; margin-top: 5%;"> Net Ball </Label>
  <StackLayout>
    <Button text="New Match" style=" height: 300px; margin-right: 7%; margin-left: 7%; margin-bottom: 10%; background-color: #734b34ff; color: #dde4d7ff;  border-radius: 15%; font-size: 40pt; font-family: 'Montserrat', 'Montserrat-Bold'; font-weight: 700;" [nsRouterLink]="['/team-name']"></Button>
    <Button text="View Match" style="height: 300px; margin-right: 7%; margin-left: 7%; background-color: #734b34ff; color: #dde4d7ff;  border-radius: 15%; font-size: 40pt; font-family: 'Montserrat', 'Montserrat-Bold'; font-weight: 700; margin-bottom: 0px;"></Button>
  </StackLayout>
</FlexBoxLayout>