@import '@nativescript/theme/css/core.css';
@import '@nativescript/theme/css/default.css';

Button.-primary {
  font-size: 18;
}

FlexBoxLayout {
  background-image: ~/images/gradient.png;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.input-border:focus {
  border-color: #734b34ff;
}

.transparent-button:active{
  opacity: 0.1;
}

.transparent-button:visited{
  opacity: 0;
}